body {
  width: 100%;
  font: 1em sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: max-content;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
}

article {
  width: 100%;
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
aside {
  min-width: 400px;
  background-color: chartreuse;
  min-height: 300px;
}

section {
  background-color: darkturquoise;
  min-height: 700px;
}

@media (max-width: 769px) {
  section {
    min-width: 100%;
  }
  aside {
    min-width: 100%;
    min-height: 200px;
  }
  .container input {
    max-height: 30px;
    max-width: 30px;
  }
  .container button {
    max-height: 50px;
    max-width: (max-content) - 20px;
  }
  #divslider > input {
    min-width: 80%;
    max-width: 80%;
  }
  #divslider > label {
    min-width: 10%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  section {
    min-width: 100%;
  }
  aside {
    min-width: 100%;
    min-height: 300px;
  }
  .container input {
    max-height: 40px;
    max-width: 40px;
  }
  .container button {
    max-height: 50px;
    max-width: fit-content;
  }
  #divslider > input {
    min-width: 87%;
    max-width: 87%;
  }
  #divslider > label {
    min-width: 10%;
  }
}

@media (min-width: 991px) {
  section {
    min-width: 60%;
  }
  aside {
    min-width: 20%;
    max-height: 100%;
  }
  .container input:not(#vol),
  .container button {
    max-height: 50px;
    max-width: 50px;
  }
  .container button {
    max-height: 50px;
    max-width: max-content;
  }
  #divslider > input {
    min-width: 87%;
    max-width: 87%;
  }
  #divslider > label {
    min-width: 10%;
  }
}

footer {
  margin: 10px 0px 10px 0px;
}

table,
th,
td {
  border: 1px black;
  border-collapse: collapse;
}

section#tableGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#tableGame > .container {
  margin: 20px 0px;
}

.container div {
  margin: 20px 0px;
  padding: 0px 5px;
}

input {
  min-height: 20px;
  min-width: 20px;
  max-height: max-content;
  max-width: max-content;
  text-align: center;
}
button {
  max-height: max-content;
  max-width: max-content;
}
#gameFooter {
  display: flex;
  justify-content: end;
}

#gameFooter > button:first-child {
  margin-right: 10px;
}
#divslider {
  min-width: 100%;
}


/* ----------------------- */

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 90%;
  max-width: 500px;
  outline: none;
}
input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url("https://storage.googleapis.com/pw-stuff/thumbs-sprite.png");
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
  transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
}
label {
  background: #eee;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 14px;
  margin-left: 10px;
  font-family: Roboto, "Helvetica Neue", Arial;
  font-size: 20px;
  width: 25px;
  text-align: center;
  color: #2968bb;
  font-weight: bold;
  content: "";
}
.twitter-link {
  position: absolute;
  bottom: 4px;
  margin: auto;
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
